.list--buttons {
    display: flex;
    flex-wrap: wrap;
  }
  
  .list__button {
    border: none;
    cursor: pointer;
    background: transparent;
    color: teal;
    transition: 0.5s;
  }
  
  @media (max-width: 767px) {
    .list__button {
        width: 100%;
        margin: 10px;
    }
  }
  
  .list__button:hover {
    color: hsl(180, 100%, 35%);
  }
  
  .list__button:active {
    color: hsl(180, 100%, 45%);
  }
  
  .list__button:disabled {
    color: #bbb;
    cursor: default;
  }